@media  only screen  and (min-width:200px) and (max-width:700px){
    #navbar{
       width: 56em;
    
  }
  #navbar ul {
    display: flex;
    /* flex-direction: column; */
    margin-right: 1em;
    margin-left: 2em;

  }
  .logo img {
    height: 3em;
    width: 6em;
  }
  
}
@media  only screen  and (min-width:200px) and (max-width:600px){
  

  .aboutus p {
  margin-bottom: 0rem;
  margin-left: 2rem;
  font-size: 1.2rem;}
}

@media  only screen  and (min-width:600px) and (max-width:700px){
  .aboutus p {
    margin-bottom: 0rem;
    margin-left: 2rem;
    font-size: 1.3rem;
  }}
  @media  only screen  and (min-width:600px) and (max-width:900px){
    .aboutus p {
    margin-bottom: 0rem;
    margin-left: 2rem;
    font-size: 1.6rem;
  }
  .video{
  bottom: 202px;

}}

@media  only screen  and (min-width:200px) and (max-width:750px){
 
  .video{
     left: -64em;
      top: 233px;
     
  }
  .aboutus p{
    font-size: 1.5rem;

  }
  #contactus{
    width: 55rem;
  }
  #about {
 /* height: ; */
 width: 56em;
}


#how img {
    display: flex;
    flex-direction: column;
    height: 17rem;
    /* display: block; */
    /* margin-top: -20em; */
    /* float: left; */
    position: absolute;
    top: 80rem;
    left: 2rem;
    /* margin-bottom: 26em; */
}
#moreinfo .coding img{
  height: 17rem;
   margin-top: 2em;
}
.info p{
  font-size: 1rem;
}
.info{
  width: 53rem;
}
#home{

    height: 14em;
    width: 49em;
}
#moreinfo h1 {
  font-size: 2em;
  display: flex;
  justify-content: center;
  background-color: #eceafc;
  width: 28em;
}

#about h2 {
  text-decoration: underline dotted white;
  display: flex;
  color: white;
  justify-content: center;
  padding-top: 4px;
  font-size: 1rem;
  
}

}
@media  only screen  and (min-width:700px) and (max-width:1200px){
#how img{
  margin-top:38em;
}
}


